[{:itonami.blueprint/social-impact [:financial-inclusion :consumer-protection :local-jobs], :itonami.blueprint/domain :finance/insurance-brokerage, :itonami.blueprint/required-technologies [:robotics :identity :forms :audit-ledger], :itonami.blueprint/isco-08 "3321", :itonami.blueprint/name "Independent Insurance Brokerage Practice", :itonami.blueprint/governor :insurance-brokerage-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-3321", :itonami.blueprint/license "AGPL-3.0-or-later"}]